@model AllPurposeStats.ViewModels.LoginViewModel
<style>
    .error {
        color: red;
        display: inline-block
    }
</style>
<h1>Login</h1>
<form asp-controller="Login" asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
      
        <p>@Model.Email_error</p>


    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <p>@Model.Password_error</p>

    </div>
    <input type="submit" value="Login" />


</form>
<p>Don't have an account?<a href="/Login/Register">Create one!</a></p>